<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Pychron Public Database</h1>

<h2>API</h2>
Pychron offers a public api for accessing the database. <a href="api_info">API</a>


<h2>Example Uses</h2>
<ul>
    <li><b>Limit</b>
        <p>
            Get first two analyses<br/><br/>
            <a href='/api/v0/analyses?q={"limit":2}'> /api/v0/analyses?q={"limit":2} </a>
        </p>
    </li>
    <li><b>Filter</b>
        <p>
            Get analysis with "id" equal to 3<br/><br/>

            <a href=/api/v0/analyses?q={"filters":[{"name":"id","op":"eq","val":3}]}>
            /api/v0/analyses?q={"filters":[{"name":"id","op":"eq","val":3}]}</a>
        </p>
        <p>
            Get analyses with "identifier" equal to "23966"<br/><br/>

            <a href=/api/v0/analyses?q={"filters":[{"name":"iposition__identifier","op":"has","val":"23966"}]}>
            /api/v0/analyses?q={"filters":[{"name":"iposition__identifier","op":"has","val":"23966"}]}</a>
        </p>
    </li>
</ul>


</body>
</html>